body {
   font-size: 62.5%;
   font-family: 'Courier Prime';
}

.Container {
    max-width: 960px;
    margin: 5rem auto;
}

body {
    background: rgb(251, 250, 239);
}

.Header {
    font-size: 2rem;
}

p, ul, ol {
    font-size: 1.2rem;
}


.blog-post-content, .blog-post {
  margin-top: 3rem;
}